<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-icon routerLink="/home" size="large" name="chevron-back"></ion-icon>
  </ion-toolbar>
</ion-header>

<!-- teste-->
  <ion-content class="main">
    <img class="img-top" src="../../assets/images/Barry_Allen 1.png" alt="">
    <ion-iten class="forms">
      <ion-input class="input" type="Nome" placeholder="Nome"></ion-input>
      <ion-input class="input" type="e-mail" placeholder="E-mail"></ion-input>
      <ion-input class="input" type="Telefone" placeholder="Telefone"></ion-input>
      <ion-input class="input" type="Endereço" placeholder="Endereço"></ion-input>
      <ion-input class="input" type="Bio" placeholder="Biografia"></ion-input>
      <ion-button routerLink="/" class="button button-main ion-color-green box" >Salvar</ion-button>
    </ion-iten>
  </ion-content>

  <ion-footer>
    <ion-icon class="icon-heart" size="large" name="heart" ></ion-icon>
    <ion-icon class="icon-send" size="large" name="send"></ion-icon>
    <ion-icon routerLink="/adocao" class="icon-paw" size="large" name="paw"></ion-icon>
    <ion-icon routerLink="/usuario" class="icon-person" size="large" name="person"></ion-icon>

</ion-footer>
  

  
  