#box{
    border-radius: 10px;
}

.img-top{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.icon-heart{
    color: red;
}
.icon-send{
    color: #1D83F0;
}
.icon-paw{
    color: #A3410B;
}
.icon-person{
    color: black;
}