<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="app-logo" src="../../assets/icon/icon-dog.png" alt="">
  <ion-iten class="forms">
    <ion-input class="input" placeholder="E-mail"></ion-input>
    <ion-input class="input" placeholder="senha"></ion-input>
    <ion-button class="button button-main" >Acessar</ion-button>
  </ion-iten>  
  <ion-iten class="outro-login">
    <p>ou faça login usando</p>
    <ion-iten>
      <ion-button class="mr-100" >G</ion-button>
      <ion-button>F</ion-button>
    </ion-iten>
  </ion-iten>
  <ion-button class="button button-main">criar conta</ion-button>
</ion-content>
