<ion-header>
  <ion-toolbar>
    <ion-title>pesquisa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="pesquisar"></ion-searchbar>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <img src="../../assets/images/dog.png" alt="">
          </ion-card>
          <ion-card>
            <img src="../../assets/images/dog.png" alt="">
          </ion-card>
          <ion-card>
            <img src="../../assets/images/dog.png" alt="">
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <img src="../../assets/images/dog.png" alt="">
          </ion-card>
          <ion-card>
            <img src="../../assets/images/dog.png" alt="">
          </ion-card>
          <ion-card>
            <img src="../../assets/images/dog.png" alt="">
          </ion-card>
        </ion-col>
      </ion-row>
     
    </ion-grid>
   
    
  </ion-item>
</ion-content>
