<ion-header>
  <ion-toolbar>
    <ion-icon routerLink="/home" size="large" name="chevron-back"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="pesquisar"></ion-searchbar>

  <ion-item class="card-container">
    <ion-grid>
      <ion-col>
        <ion-card *ngFor="let obj of animais">
          <img [src]="obj.foto" alt="">
        </ion-card>
      </ion-col>
    </ion-grid>
   
  </ion-item>
</ion-content>
<ion-footer>
  <ion-icon routerLink="/pesquisa" class="icon-heart" size="large" name="heart" ></ion-icon>
  <ion-icon class="icon-send" size="large" name="send"></ion-icon>
  <ion-icon routerLink="/adocao" class="icon-paw" size="large" name="paw"></ion-icon>
  <ion-icon routerLink="/usuario" class="icon-person" size="large" name="person"></ion-icon>

</ion-footer>