<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-icon routerLink="/" size="large" name="chevron-back"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="main">
  <img class="img-top" src="../../assets/icon/upload 1.png" alt="">
  <ion-label class="lbl-cor"><p>upload</p></ion-label>
  <ion-iten class="forms">
    <ion-input class="input" type="Especie" placeholder="Especie"></ion-input>
    <ion-input class="input" type="Genero" placeholder="Genero"></ion-input>
    <ion-input class="input" type="Raça" placeholder="Raça"></ion-input>
    <ion-input class="input" type="Endereço" placeholder="Endereço"></ion-input>
    <ion-input class="input" type="Motivo" placeholder="Motivo"></ion-input>
    <ion-button routerLink="/" class="button button-main ion-color-green" >Publicar</ion-button>
  </ion-iten>
</ion-content>