// estilo para os cards
ion-card {
    display: flex;
    background-color: #71DBD2;
    color: #fff;
    ion-card-title {
        color: #fff;

    }
    .card-content {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        ion-iten {
            display: flex;
            align-items: baseline;
        }
    }
}